@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --color-primary: #222831;
  --color-secondary: #00adb5;
  --font-default: #eeeeee;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  background: #222831;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00696e;
}

/* Splash Screen Animation */

.splashScreenText div span {
  position: relative;
  animation: move-text-color 0.75s forwards;
  bottom: -1em;
  opacity: 0;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #efefef;
  }

  50% {
    bottom: 0.2em;
    color: #64ccd1;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #00aab3;
  }
}

.blink-text {
  color: var(--color-secondary);
}
#tsparticles {
  height: 100% !important;
  min-height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
